{% extends 'reviews/base.html' %}

{% block content %}
<!-- header, centered, book title -->
<h2>{{ book.title }} - {{ book.author }}</h2>

<div class="book-details">
    <!-- left inline: book image 
     center aligned: book description -->
    {% if book.image %}
        <img src="{{ book.image.url }}" alt="Cover of {{ book.title }}">
    {% endif %}

     <div class="book-description">
         <p>{{ book.description }}</p>
     </div>
</div>
  
{% if user.is_authenticated %}
    <!-- insert review page url -->
    <!-- center aligned: 'Post a review for this book' (button) -->
     <a class="review-btn" href="{% url 'review-create' book.id %}">Post a review for this book</a>
{% else %}
    <!-- insert login page url  -->
     <a class="review-btn" href="{% url 'signup-page' %}">Sign up/Login to post a review!</a>
{% endif %}

<!-- block level text box displaying relevant reviews
Include:
'New review by Alice on June 03, 2022 at 4:20PM'
Review subject title + review star rating
review content -->
<!-- multiple reviews on page ??? - All reviews posted-->
<section>
    <!-- Review model has ForeignKey to Book with related_name being called here -->
    {% for review in book.reviews.all %}
    <article>
        <header>
            <small>New review by <u>{{ review.user.username }}</u> on {{ review.created|date:"F d, Y \a\t g:iA" }}</small> |
            <!-- if the review was made by the logged-in user add edit/delete features -->
            {% if user.username == review.user.username %}
            <small><a href="{% url 'review-update' book.id %}">Update review</a><span>&#9998;</span></small> |
            <small><a href="{% url 'review-delete' book.id %}">Delete review</a><span>&#128465;</span></small>
            {% endif %}
        </header>
        <strong>{{ review.headline }}</strong> - <div class="star-rating-display" style="--rating: {{ review.rating }};" aria-label="{{ review.rating }} out of 5 stars"></div>
        <p><small>{{ review.body }}</small></p>
    </article>
    {% empty %}
        <p>No reviews yet. Be the first to post a review!</p>
    {% endfor %}
</section>


{% endblock %}