asgiref==3.12.1
astroid==4.3.3
colorama==0.4.6
dill==0.4.1
Django==6.0.7
django-extensions==4.1
django-stubs==6.1.1
django-stubs-ext==6.1.1
flake8==7.4.1
isort==9.0.2
mccabe==0.7.0
mypy_extensions==1.1.0
pillow==12.3.0
platformdirs==4.12.2
pycodestyle==2.15.0
pyflakes==4.0.1
pylint==4.1.1
pylint-django==2.8.0
pylint-plugin-utils==0.9.0
sqlparse==0.5.5
tomlkit==0.15.1
types-PyYAML==6.0.12.20260906
typing_extensions==4.16.0
tzdata==2026.3
