{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LitReview</title>
        <link rel="stylesheet" href="{% static 'users/style.css' %}" />
    </head>

    <body>
        <header class="navbar">
            <div class="nav-item">
                <nav><strong>LITReview</strong></nav>
            </div>
            <div class="search-bar">
                <form action="/search/" method="get" class="search-box">
                    <input type="search" name="q" placeholder="Search for a book..." aria-label="Search" required />
                </form>
            </div>
            <!-- this auth check happens in base, because the if check
             happens once per request, at the point the nav is rendered
             which is inside this base template -->
            <div class="nav-item">
                {% if user.is_authenticated %}
                    <a href="{% url 'user-profile' user.username %}">My profile</a>
                {% endif %}
            </div>
            <div class="nav-item">
                <nav>
                    {% if user.is_authenticated %}
                    <!-- LogoutView ONLY accepts POST methods
                                        a href link is a GET request 
                                        wrapping logout in a form and CSRF protection
                                        ensures deliberate, protected action when logging out -->
                    <form method="post" action="{% url 'logout' %}" class="logout-form">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                    </form>
                    {% elif 'login/' in request.path %}
                        <a href="{% url 'signup-page' %}">Sign up/login</a>
                    {% else %}
                        <a href="{% url 'login-page' %}">Sign up/Login</a>
                    {% endif %}
                </nav>
            </div>
        </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    </body>
</html>