{% extends 'users/base.html' %}

{% block content %}

<p>Currently in progress...</p>

<!-- Header title, centered: Reviews by users you follow -->
<!-- block level displays of individual books and their reviews
  Include:
    title of book
    subject of comment + star rating
    contents of the comment (hidden pieces if extends visual block capacity)
    Indicates a new review by follower with date and time:
        "New review by Alice on June 03, 2022 at 4:20PM" -->
<!-- Below the reviews, a button at the bottom: "See all recent reviews"
 this should redirect users to a longer/larger list of reviews by users you follow -->


{% endblock %}