{% extends 'reviews/base.html' %}

{% block content %}

<h1>{{ user_profile.username }}'s Profile Page</h1>

<section class="user-profile-page">
    <article class="user-details">
        <p>Name: {{ user_profile.full_name }}</p>
    </article>

    <form method="post" action="{% url 'toggle-follow' user_profile.username %}">
        {% csrf_token %}
        {% if is_following %}
            <button type="submit" class="unfollow-btn">Unfollow {{ user_profile.username}}
            </button>
        {% else %}
            <button type="submit" class="follow-btn">Follow {{ user_profile.username }}</button>
        {% endif %}
    </form>

    <h2>Following</h2>
    <article class="user-following">
        <ul>
            {% for follow in following %}
                <li>
                    <a href="{% url 'user-profile' follow.username %}">{{ follow.username }}</a><br>
                </li>
            {% empty %}
                <li>Not following anyone yet</li>
                {% endfor %}
        </ul>
    </article>

    <h2>Followers</h2>
    <article class="user-followers">
        <ul>
            {% for follow in followers %}
                <li>
                    <a href="{% url 'user-profile' follow.username %}">{{ follow.username }}</a>
                </li>
            {% empty %}
                <li>No followers yet</li>
                {% endfor %}
        </ul>
    </article>

    <h2>{{ user_profile.username }}'s Reviews</h2>
    <article class="user-reviews">
        {% for review in reviews %}
            <div class="review-cards">
                {% if review.book.image %}
                    <img src="{{ review.book.image.url }}" alt="Cover of {{ review.book.title }}" class="book-thumbnail">
                {% endif %}

                <p class="book-title"><a href="{% url 'book-review' review.book.id %}">{{ review.book.title }} - {{ review.book.author }}</a></p>

                <strong>{{ review.headline }}</strong> - 
                <div class="star-rating-display" style="--rating: {{ review.rating }};" aria-label="{{ review.rating }} out of 5 stars"></div>
                <br>
                <p class="review-preview"><small>{{ review.body|truncatewords:40 }}</small></p>
                <small>Review posted on {{ review.created|date:"F d, Y \a\t g:iA" }}</small>
            </div>
        {% empty %}
            <p>{{ user_profile.username }} hasn't written any reviews yet</p>
        {% endfor %}
</section>

{% endblock %}