{% extends 'users/base.html' %}

{% block content %}

<h1>{{ user_profile.username }}'s Profile Page</h1>

<p>Currently in progress...</p>

<!-- a block level text box that includes user information: name, email, etc. -->
 <!-- a block level text box that includes who the user is following,
  with the capability (button) to unfollow those users -->
<!-- a block level text box that includes those who are following the user -->
<!-- a block level text box (search bar) to find users -->
<!-- a block level box view with a list of the user's reviews
 Include:
    Book image
    Book title
    Comment subject title
    comment
    "Review post on Mar 20, 2022 at 10:10AM"
    'Edit Review' (button)
    'Delete Review' (button) -->


{% endblock %}